@use "../../config/palette" as palette;

.navbar-cls-1 {
	fill: palette.$accent-white;
}

.navbar-cls-2,
.navbar-cls-3 {
	@media screen and (prefers-color-scheme: dark) {
		fill: palette.$dark-primary-deep;
	}
	@media screen and (prefers-color-scheme: light) {
		fill: palette.$light-primary-deep;
	}
}

.navbar-cls-4 {
	fill: palette.$accent-green;
}

.navbar-cls-5 {
	@media screen and (prefers-color-scheme: dark) {
		fill: palette.$dark-primary-medium;
		stroke: palette.$dark-primary-medium;
	}
	@media screen and (prefers-color-scheme: light) {
		fill: palette.$light-primary-medium;
		stroke: palette.$light-primary-medium;
	}
}

.navbar-cls-5,
.navbar-cls-3,
.navbar-cls-6 {
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 0.5px;
}

.navbar-cls-7 {
	fill: palette.$accent-red;
}

.navbar-cls-3 {
	@media screen and (prefers-color-scheme: dark) {
		stroke: palette.$dark-primary-deep;
	}
	@media screen and (prefers-color-scheme: light) {
		stroke: palette.$light-primary-deep;
	}
}

.navbar-cls-6 {
	@media screen and (prefers-color-scheme: dark) {
		fill: palette.$dark-primary-light;
		stroke: palette.$dark-primary-light;
	}
	@media screen and (prefers-color-scheme: light) {
		fill: palette.$light-primary-light;
		stroke: palette.$light-primary-light;
	}
}
