$light-primary-deep: #3b3b3b;
$light-primary-medium: #414141;
$light-primary-light: #4a4a4a;
$light-background: #f1f2f2;
$dark-primary-deep: #d1d3d4;
$dark-primary-medium: #e6e7e8;
$dark-primary-light: #f1f2f2;
$dark-background: #3b3b3c;
$accent-green: #018c45;
$accent-white: #f4f5f0;
$accent-red: #ce202a;
$accent-yellow: #f3bb19;
