<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TCF Group{% endblock %}</title>

    <script type="text/javascript" src="/assets/frappe/js/frappe-web.bundle.js"></script>
    <meta name="csrf_token" content="{{ frappe.session.csrf_token }}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@4.5.0/dist/bundles/anime.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/tcf_web/scss/base.css"/>
    <script src="/assets/tcf_web/js/base.js"></script>
</head>
<body hx-boost="true" hx-target="#page-container" hx-select="#page-container">

    {% include "tcf_web/components/splashscreen/splash.html" %}
    <script src="/assets/tcf_web/js/components/splashscreen/splash.js"></script>
    <script src="/assets/tcf_web/js/components/navigation/navigation.js"></script>

    <div id="page-container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>