<nav class="navbar-container">
    <div class="navbar-topbar-container">
        <div class="navbar-content-container">
            <div class="navbar-logo-container">
                <div class="navbar-logo-wrapper">
                    {% include "tcf_web/public/components/navbar/assets/navbar-logo.svg" %}
                </div>
            </div>
            <div class="navbar-separator"></div>
            <div class="navbar-mobile-actions-container">

            </div>
            <div class="navbar-desktop-actions-container">
                <div class="navbar-desktop-actions-top">

                </div>
                <div class="navbar-desktop-actions-bottom">

                </div>
            </div>
        </div>
    </div>
    <div class="navbar-mobile-underbar-container">

    </div>
    <div class="navbar-desktop-underbar-container">

    </div>
</nav>